
<html>
<head>
	<title>Index page</title>
</head>
<body>

<table width="100%">
	<tr><td align="center"><h1>Hello lovely index page in Rails!</h1></td></tr>
	<tr><td align="center"><p>Find me in app/views/welcome/index.html.erb</p></td></tr>
</table>
</body>
</html>


